.about {
    justify-content: center;
    padding-top: 3rem;
}

.resumeIcon {
    font-size: 2rem;
    color: chocolate;
}

.resume {
    margin-right: 5rem;
}

p {
    padding-top:1rem;
    padding-bottom: 10rem;
    color: black;
}

/* .card {
    background-color: white;
    opacity: 0.5;
    border-radius: 6px;
} */