/* body {
    background-color: peachpuff;
} */

.contactInfo {
    text-align: center;
    font-family: 'M Plus 1p';
    margin-left: 1px;
    padding-bottom: 3rem;
    color:#BC8668;;
    font-weight: 800;
}

.fontIcon {
    margin-top:45px;
    padding-right: 5px;
    margin-left: 130px;
    color: white;
    font-size: 3rem;
} 

.emhead {
    margin-top: 20px;
    margin-left: 120px;
    color: black;
}

.ctchead {
    margin-top: 20px;
    margin-left: 104px;
    color: black;
    text-decoration: none;
}

.gthead {
    margin-top: 20px;
    margin-left: 105px;   
    color: black;
    text-decoration: none;
}

.em {
    padding-left: 52px;
    color: black;
    font-size: 15px;
}

.linked {
    padding-left: 52px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.gt {
    padding-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}