/* body {
    background-color: peachpuff;
} */

.contactInfo {
    text-align: center;
    font-family: 'M Plus 1p';
    margin-left: 1px;
    padding-bottom: 3rem;
    color:#BC8668;
    font-weight: 800;
}

.contactcrd {
    margin-top: 65px;
    /* padding-right: 65px; */
    /* max-width: 300px;
    min-height:200px; */
    border-radius: 0;
    background-color: #BC8668;
    opacity: 0.7;
} 

.fontIcon {
    margin-top:45px;
    /* padding-right: 5px; */
    margin-left: 163px;
    color: white;
    font-size: 3rem;
    /* text-align: center; */
} 

.emhead {
    margin-top: 20px;
    margin-left: 153px;
    color: black;
}

.ctchead {
    margin-top: 20px;
    margin-left:145px;
    color: black;
    text-decoration: none;
}

.gthead {
    margin-top: 20px;
    margin-left: 147px;   
    color: black;
    text-decoration: none;
}

.em {
    margin-left: 100px;
    color: black;
    font-size: 15px;
}

.linked {
    padding-left: 52px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.gt {
    margin-left: 100px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}