 .cardTitle{
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    top:0;right:0;bottom:0;left:0;
}

.description {
    color:white;
     /* padding-left: 15px;
    margin-right: 31px; */
    font-family: 'M Plus 1p';
    font-weight: 800;
    font-size: 14px;
}

.technologies {
    /* padding-top: 5px; */
    color: white;
    /* margin-top: 10px; */
    font-size: 12px;
    font-weight: 600;
}

.image {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
}

.card {
  max-width: 400px;
  min-height: 225px;
  perspective: 1000px;
  border-radius: 0;
  position:relative;
  transition: all .5s ease-in;
    /* top: 0;
    left: 0; */
}

.card:hover .overlay {
    /* background:rgba(188,134,104); */
    opacity: 1;
}


.card::before {
    /* content: ""; */
    /* width: 100%;
    height: 100%; */
    /* background:rgba(188,134,104); */
    background:rgba(188,134,104);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image::before{
     background:rgba(188,134,104);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.overlay{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  background-color: rgba(188,134,104);
}

.overlayContent {
    color: white;
    font-family: 'M Plus 1p';
  /* font-size: 15px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}