.navbar {
    background-color: none;
}

.reshead {
 /* margin-left: 950px; */
 padding-bottom: 5px;
 color:black;
 font-weight: 400;
} 
.link:hover{
    color:#BC8668;
    text-decoration: none;
}

.link{
    color: black;
    margin-top: 12px;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'M Plus 1p';
    font-weight: 400;
}
