.body {
    background-color: white;
} 

/* .carousel {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 200px;
    width: 100%;
} */

.portHeader {
    /* margin-left: 480px; */
    text-align: center;
    padding-bottom: 3rem;
    color: #BC8668;
    font-family: 'M Plus 1p';
    font-weight: 800;
}

/* .carousel {
    padding-left: 200px;
} */

